<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CampusMatch</title>
	<link rel="stylesheet" type="text/css" href="/css/auth.css" />
	
</head>
<body>
 
    <div class="container">
    
        <div class="card">

            <div class="card-header">
                Bem vindo ao CampusMatch
            </div>
            <div class="card-body">
                <form method="post" th:object="${LoginUser}">
                    <label for="username">Email</label>
					<div th:if="${param.error}">
						<p style="color: red;">Usuário ou senha inválido!</p>
					</div>
					</div>
                    <input th:value="*{username}" type="username" id="username" name="username" required>

                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" required>

                    <button type="submit">Login</button>
                </form>
                <a th:href="@{/auth/recuperarsenha}">Esqueci minha senha</a>
                <p>Não possui conta?</p>
                <a th:href="@{/auth/estudante}">Cadastre-se como estudante</a><br>
                <a th:href="@{/auth/instituicao}">Cadastre-se como instituição</a>
            </div>
        </div>
    </div>
</body>
</html>