<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Match</title>
    <link rel="stylesheet" href="/css/style_instituicao.css">
</head>
<body>
    <header>
        <div class="logo">Campus Match</div>
        <nav>
        </nav>
    </header>

    <div class="container">
        <aside class="sidenav">
            <ul>
				<li><a th:href="@{/estudantes/instituicoes}">Instituições</a></li>
				 <li><a th:href="@{/estudantes/profile}">Perfil</a></li>
				<li><a th:href="@{/logout}">Sair</a></li>
            </ul>
        </aside>

        <main class="content">
			<br>
			<br>
			<br>
			<h1>INSTITUIÇÕES</h1>

			<div class="table-container">
				<table border="1">
				   		<thead>
				   			<tr>
				   				<th>Codigo</th>
				   				<th>Nome</th>
				   				<th>E-mail</th>
				   				<th>CEP</th>
				   				<th>Nº Mec</th>
				   				<th>Campus</th>
				   				<th>Tipo</th>
				   				<th>Publicações</th>
				   				<th>Cursos</th>
								<th>Infraestrutura</th>
				   				</tr>
				   		</thead>
				   		<tbody>
				   			<tr th:each="instituicao : ${instituicoes}">
				   				<td><a th:text="${instituicao.id}"></a></td>
				   				<td th:text="${instituicao.nome}"></td>
				   				<td th:text="${instituicao.email}"></td>
				   				<td th:text="${instituicao.cep}"></td>
				   				<td th:text="${instituicao.numeroMec}"></td>
				   				<td th:text="${instituicao.campus}"></td>
				   				<td th:text="${instituicao.tipo}"></td>
				   				<td><a th:href="@{publicacoes/{id}(id=${instituicao.id})}">X</a></td>
				   				<td><a th:href="@{cursos/{id}(id=${instituicao.id})}">X</a></td>
								<td><a th:href="@{infraestruturas/{id}(id=${instituicao.id})}">X</a></td>
				   			</tr>
				   		</tbody>
				   	</table>
					
			</div>
			
        </main>
    </div>
</body>
</html>
