<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Campus Match</title>
    <link rel="stylesheet" href="/css/style_instituicao.css">
</head>
<body>
    <header>
        <div class="logo">Campus Match</div>
        <nav>
			<!-- This is a comment 
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
			-->
        </nav>
    </header>

    <div class="container">
        <aside class="sidenav">
            <ul>
                <li><a th:href="@{/cursos/index}">Cursos</a></li>
				<li><a th:href="@{/infraestruturas/index}">Infraestrutura</a></li>
                <li><a th:href="@{/publicacoes/index}">Publicação</a></li>
                <li><a th:href="@{/instituicoes/profile}">Perfil</a></li>
				<li><a th:href="@{/logout}">Sair</a></li>

            </ul>
        </aside>

        <main class="content">
        </main>
    </div>
</body>
</html>
