<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Match</title>
    <link rel="stylesheet" href="/css/style_instituicao.css">
</head>
<body>
    <header>
        <div class="logo">Campus Match</div>
        <nav>
        </nav>
    </header>

    <div class="container">
        <aside class="sidenav">
            <ul>
                <li><a th:href="@{/cursos/index}">Cursos</a></li>
				<li><a th:href="@{/infraestruturas/index}">Infraestrutura</a></li>
                <li><a th:href="@{/publicacoes/index}">Publicação</a></li>
                <li><a th:href="@{/instituicoes/profile}">Perfil</a></li>
            </ul>
        </aside>

        <main class="content">
			<br>
			<br>
			<br>
			<h1>PUBLICAÇÕES</h1>

			<div class="table-container">
			<table border="1">
				<thead>
					<tr>
						<th>Codigo</th>
						<th>Post</th>
						<th>Data Publicada</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="publicacao : ${publicacoes}">
						<td><a th:text="${publicacao.id}" th:href="@{index/{id}(id=${publicacao.id})}"></a></td>
						<td th:text="${publicacao.descricao}"></td>
						<td th:text="${publicacao.dataPublicacao}"></td>
						<td><a th:href="@{deletePublicacao/{id}(id=${publicacao.id})}">Deletar</a></td>
					</tr>
				</tbody>
			</table>
			</div>
			<br><br><br>
			<form method="post" th:action="@{/publicacoes/save}" th:object="${publicacao}">
				<div>
					<label for="id">Codigo</label>
					<input th:value="*{id}" type="number" name="id" readonly>
					<label for="descricao">Post</label>
					<input th:value="*{descricao}" type="text" name="descricao">
				</div>
				<div>
					<button type="Criar">Submit</button>
				</div>
			</form>
			
        </main>
    </div>
</body>
</html>



